<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 col-xl-2" id="photo">
      <img src="{{ col.photoUrl }}" alt="Photo">
    </div>
    <div class="col-12 col-sm-8 col-xl-10" id="informations">
      <p>Matricule {{ col.matricule }}</p>
      <p>Nom {{ col.nom }}</p>
      <p>Prénoms {{ col.prenoms }}</p>
      <p>Date de naissance {{ col.dateDeNaissance }}</p>
      <p>Email {{ col.email }}</p>
      <br>
      <br>
      <button (click)="ajouterCollegue()" type="button" class="btn-btn-link">Créer un nouveau collègue</button>
      <button (click)="modifierCollegue()" type="button" class="btn-btn-primary">Modifier</button>
    </div>
  </div>
</div>
